@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string arcgisServer = AppSettings.Current["SERVER"];
}
@section Static{
    <script>
        var arcgisServer = "@(arcgisServer)";
    </script>
    <link rel="stylesheet" type="text/css" href="http://@(arcgisServer)/arcgis_js_api/library/3.14/3.14/dijit/themes/tundra/tundra.css" />
    <link rel="stylesheet" type="text/css" href="http://@(arcgisServer)/arcgis_js_api/library/3.14/3.14/esri/css/esri.css" />
    <link rel="stylesheet" type="text/css" href="http://@(arcgisServer)/arcgis_js_api/library/3.14/3.14/dijit/themes/claro/claro.css" />
    <script src="http://@(arcgisServer)/arcgis_js_api/library/3.14/3.14/init.js"></script>
    <script src="~/Scripts/jquery.shCircleLoader-min.js"></script>
}
@section Nav{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">地图控制<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="" id="">卫星影像</a></li>
            <li><a href="" id="">医疗机构</a></li>
            <li><a href="" id=""></a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">疾病数据<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">2015</a></li>
            <li><a href="#">2015</a></li>
            <li><a href="#">2015</a></li>
            <li><a href="javascript:void(0)" id="TTime">疾病演变</a></li>
        </ul>
    </li>
}
@RenderBody()