@{
    Layout = null;
    var type = Request.QueryString["type"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chart</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery.shCircleLoader-min.js"></script>
<style>
    body{padding:0;margin:0;overflow:hidden;}
</style>
</head>

<body>
    <canvas id="canvas-chart" style="width:100%;height:100%;"></canvas>
    <script>
        $(function () {
            var data = @Html.Raw((ViewBag.Data as object).ToJson());
            @switch (type)
            {
                    case "xzc":
                        <text>
            var labels = [];
            var datas = [];
            for(var item in data){
                labels.push(item);
                datas.push(data[item]);
            }
            var ctx = $("#canvas-chart").get(0).getContext("2d");
            var chartData = {
                labels: labels,
                datasets: [
                    {
                        label: "地区对比图",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#ccc",
                        pointHighlightFill: "#ccc",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: datas
                    }
                ]
            };
            new Chart(ctx).Bar(chartData, {
                bezierCurve: false, barValueSpacing: 50, barStrokeWidth: 0,
            });
                </text>
                        break;
                    case "time":
                        <text>
                var labels = [];
                        var datas = [];
                        for (var i in data) {
                            var time = new Date(i);
                            labels.push((1900 +time.getYear()) + "-" + (1+time.getMonth()) + "-" + time.getDate());
                            datas.push(data[i].toFixed());
                        }
                        var ctx = $("#canvas-chart").get(0).getContext("2d");
                        var chartData = {
                            labels: labels,
                            datasets: [
                                {
                                    label: "发病趋势图",
                                    fillColor: "rgba(220,220,220,0.2)",
                                    strokeColor: "rgba(220,220,220,1)",
                                    pointColor: "rgba(220,220,220,1)",
                                    pointStrokeColor: "#ccc",
                                    pointHighlightFill: "#ccc",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: datas
                                }
                            ]
                        };
                        new Chart(ctx).Line(chartData, {
                            bezierCurve: false, pointDot: false, datasetStrokeWidth: 1,
                        });

                        </text>
                        break;
                    case "sick":
                        <text>
                var labels = ["00", "01"];
                        var datas = [0, 0];
                        for (var i = 0; i < labels.length; i++) {
                            var sick = labels[i];
                            datas[i] = data[sick] || 0;
                        }
                        var ctx = $("#canvas-chart").get(0).getContext("2d");
                        var chartData = {
                            labels: labels,
                            datasets: [
                                {
                                    label: "疾病对比图",
                                    fillColor: "rgba(220,220,220,0.2)",
                                    strokeColor: "rgba(220,220,220,1)",
                                    pointColor: "rgba(220,220,220,1)",
                                    pointStrokeColor: "#ccc",
                                    pointHighlightFill: "#ccc",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: datas
                                }
                            ]
                        };
                        new Chart(ctx).Bar(chartData, {
                            bezierCurve: false, barValueSpacing: 50, barStrokeWidth: 0,
                        });

            </text>
                        break;
                }
        });
    </script>
</body>
</html>
