@using LoowooTech.Artemisinine.Models
@using LoowooTech.Artemisinine.Common
@{
    ViewBag.Title = "动态图层";
    Layout = "~/Views/Map/_Layout.cshtml";
    List<int> Years = ViewBag.List;
}
<style>
    html,body,#map{
         height: 100%; width: 100%; margin: 0; padding: 0; background-color:black;
    }
    #Search{
         display: block;
         position: absolute;
         z-index: 2;
         top: 20px;
         left: 74px;
    }
    #HomeButton{
        position:absolute;
        top:95px;
        left:20px;
        z-index:50;
    }
    #bottomPanel{
        left:50%;
        margin:0 auto;
        margin-left:-500px;
        position:absolute;
        bottom:2.5em;
    }
    #timeInfo{
        border-radius:4px;
        border:solid 2px #ccc;
        background-color:#fff;
        display:block;
        padding:5px;
        position:relative;
        text-align:center;
        width:1000px;
        z-index:99;
    }
    #menu{
        position:absolute;
        z-index:2;
        top:20px;
        left:74px;
    }
</style>
<script src="~/Scripts/Dynamic.js"></script>
<script>
    $(function () {
        $("#Year").click(function () {
            var value = $(this).val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("#Month").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Map/GetMonths?Year=" + value, true);
            xmlhttp.send();
        });

        $("#Month").click(function () {
            var month = $(this).val();
            var year = $("#Year").val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("#Day").empty().append(xmlhttp.responseText);
                }
            }

            xmlhttp.open("GET", "/Map/GetDays?Year=" + year + "&&Month=" + month, true);
            xmlhttp.send();
        })
    })
</script>

<div id="Search"></div>
<div class="row">
    <div id="menu" class="col-lg-8 col-lg-offset-2">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">菜单</a>
                    
                </div>
                
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <form class="navbar-form navbar-left" role="dialog">
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control" id="Year">
                                    @foreach (var item in Years)
                                    {
                                        <option value="@(item)">@(item)</option>
                                    }
                                </select>
                                <span class="input-group-addon">年</span>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control" id="Month">

                                </select>
                                <span class="input-group-addon">月</span>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control" id="Day">

                                </select>
                                <span class="input-group-addon">日</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">图层：</label>
                            <select class="form-control" id="MapType">
                                @foreach (MapType maptype in Enum.GetValues(typeof(MapType)))
                                {
                                    <option value="@(maptype.ToString())">@(maptype.GetDescription())</option>
                                }
                            </select>
                        </div>

                        <button type="button" id="Play">播放</button>
                        <button type="button" id="Stop">暂停</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>
<div id="map">
    <div id="HomeButton"></div>
    <div id="bottomPanel">
        <div id="timeInfo">
            <div id="timeSliderDiv"></div>
        </div>
    </div>
</div>
