@{
    ViewBag.Title = "地图";
    Layout = "~/Views/Map/_Layout.cshtml";
}
<style>
    #search { position: absolute; z-index: 2; top: 65px; left: 20px; }
    #map_zoom_slider { top:90px;}
    #timeInfo { 
                display: block; 
                padding: 5px; 
                position: absolute;
                 text-align: center; 
                 width: 1000px; 
                 z-index: 99; 
                 left:150px;
                 top:70px;

    }
</style>
<div id="search"></div>
<div id="timeInfo">
    <div id="timeSliderDiv"></div>
</div>
<div id="map" style="background:#000;">
</div>

<script>
    var headerHeight = $("#header").height();
    var footerHeight = $("#footer").height();
    var clientHeight = document.documentElement.clientHeight;
    var mapHeight = clientHeight - headerHeight - footerHeight - 10;
    console.log(headerHeight);
    console.log(footerHeight);
    console.log(clientHeight);
    console.log(mapHeight);
    $("#map").height(mapHeight);


    var host = "http://" + arcgisServer + ":6080";
    require([
        "esri/map", "esri/layers/FeatureLayer", "esri/dijit/Search", "esri/InfoTemplate",
        "esri/layers/ArcGISTiledMapServiceLayer",
        "esri/dijit/InfoWindowLite", "dojo/dom-construct",
        "esri/dijit/TimeSlider", "esri/TimeExtent", "dojo/dom",
        "dojo/domReady!"
    ], function (
        Map, FeatureLayer, Search, InfoTemplate,
        Tiled,
        InfoWindowLite, domConstruct,
        TimeSlider, TimeExtent, dom
        ) {
        var map = new Map("map", {
            logo: false
        });
        var tiled = new Tiled(host + "/arcgis/rest/services/NN/MapServer");
        map.addLayer(tiled);

        var infoWindow = new InfoWindowLite(null, domConstruct.create("div", null, null, map.root));
        infoWindow.startup();
        map.setInfoWindow(infoWindow);
        var template = new InfoTemplate();
        template.setTitle("<b>${JGID}-${NAME}<b/>");
        template.setContent("机构ID：${JGID} <br/> 医疗名称：${NAME}");

        var featureLayer = new FeatureLayer(host + "/arcgis/rest/services/NN/MapServer/1", {
            mode: FeatureLayer.MODE_ONDEMAND,
            infoTemplate: template,
            outFields: ["JGID", "NAME"]
        });

        map.addLayer(featureLayer);

        map.infoWindow.resize(300, 100);

        var s = new Search({
            sources: [{
                featureLayer: new FeatureLayer(host + "/arcgis/rest/services/NN/MapServer/1", {
                    outFields: ["*"],
                    infoTemplate: new InfoTemplate("医疗机构", "医疗机构ID：${JGID}<br/> 机构名称：${NAME}<br/>")
                }),
                searchFields: ["NAME"],
                outFields: ["JGID", "NAME"],
                displayField: "JGID",
                exactMatch: false,
                suggestionTemplate: "${JGID}",
                name: "医疗机构",
                enableSuggestions: true
            }],
            enableButtonMode: true,
            enableLabel: false,
            enableInfoWindow: true,
            showInfoWindowOnSelect: false,
            map: map
        }, "search");
        s.startup();

        map.on("layers-add-result", initSlider);
        function initSlider() {
            var timeSlider = new TimeSlider({
                style: "width:100%;"
            }, dom.byId("timeSliderDiv"));
            map.setTimeSlider(timeSlider);

            var timeExtent = new TimeExtent();
            timeExtent.startTime = new Date("1/1/1921 UTC");
            timeExtent.endTime = new Date("12/31/2009 UTC");
            timeSlider.setThumbCount(2);
            timeSlider.createTimeStopsByTimeInterval(timeExtent, 2, "esriTimeUnitsYears");
            timeSlider.setThumbIndexes([0, 1]);
            timeSlider.setThumbMovingRate(20000);
            //var myTimeStepIntervals = [new Date("01/01/1970"), new Date("01/01/1971"), new Date("01/01/1972"), new Date("01/01/1973"), new Date("01/01/1974")];
            //timeSlider.setTimeStops(myTimeStepIntervals);

            //timeSlider.setThumbCount(1);
            //timeSlider.createTimeStopsByTimeInterval(results[1].layer.timeInfo.timeExtent, 1, "esriTimeUnitsWeeks");
            timeSlider.startup();
        }
    })
</script>

