body { padding: 0px; margin: 0px; }

.form-control { color: #C8C8C8; background-color: #3E444C; background-image: none; border: 1px solid #262A2F; }

.navbar { border-radius: 0px; border: none; border-bottom: solid 1px #222; margin-bottom: 2px; }
footer{margin:0;}